@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
  font-family: Impact;
  src: url(/fonts/impact.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family:'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-image: url('../img/background.png');
    background-blend-mode: darken;
    background-color: #c2c2c2;
    background-repeat: repeat;
}

body {
    backdrop-filter: blur(1px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%; 
  margin-top: 10px; 
}

.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;

  font-size: 17px;
  padding: 0;
}

.nav-item {
  padding: 15px;
  border: 1px solid #2c302e;
  background-color: #000;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 80%;
  margin-bottom: 15px;
}

h1 {
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 280px;
  height: 430px;
  border-radius: 15px;
  flex: 0 0 auto;
  margin: 15px;
  text-align: center;
  background-color: #ccccccee;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 1s ease-in-out;
}

.card .photo {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card .name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.card .bio {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 600;
}


.card.active {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    transform: translateY(calc(-100% + 450px));
    border-radius: 0;
    background-color: #ccc;
}

.card.active .photo {
    height: 40%;
    border-radius: 0;
}

.card.active .name {
    text-align: left;
    padding: 10px;
    margin: 0;
}

.card.active hr {
    display: none;
}

.card.active .bio {
    text-align: left;
    padding: 10px;
    margin: 0;
}

.card.active .detail {
    display: block !important;
    padding: 10px;
}

.card .full-bio {
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
    font-weight: 500;
}

.card .social-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0 10px;
    padding: 0;
    list-style: none;
}

.card .social-item a {
    color: #000;
    font-size: 24px;
    margin: 0 10px;
}

.card.has-detail {
    box-shadow: none;
}

.card.has-detail:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    transform: translate3d(0px, 10px, 0) scale(0.95);
    filter: blur(20px);
    opacity: 0.7;
    transition: opacity 0.3s;
    border-radius: inherit;
}

.card.has-detail::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}


hr {
  border: none;
  background-color: #000;
  color: #000;
  height: 1px;
  width: 180px;
  margin: 10px auto;
}

.scroling-bio {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

